/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/

*.iml

# editors
.idea
.DS_Store

# linting
.clj-kondo/*
!.clj-kondo/config.edn
!.clj-kondo/config-ci.edn
